<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find mouse_description)/launch/start_world.launch"/>

    <group ns="mouseA">
        <param name="tf_prefix" value="mouseA_tf"/>
        
        <arg name="model" default="$(find mouse_description)/urdf/mouseA.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>

        <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -param robot_description -model mouseA -x 0 -y 0.2 -z 0.2" />

        <include file="$(find mouse_description)/launch/mouseA_control.launch"/>   
    </group>

    <!-- <group ns="cat">
        <param name="tf_prefix" value="cat_tf" />

        <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
        <param name="robot_description" command="$(find xacro)/xacro '$(find cat_description)/urdf/cat.xacro'" />

        <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -param robot_description -model cat -x -5 -y 3 -z 0 "/>

        <!-- ros_control cat launch file -->
        <include file="$(find cat_control)/launch/cat_control.launch" />
    </group> -->

</launch>